@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap');

body {
    background-color: #F8F8F8;
}

h1{
    color: #7E9DC2;
}

footer{
    position:absolute ;
    width: 100%;
    bottom: 0%;
    background-color: grey;
}

nav {
    background-color: #FF0F39;
    font-family: 'Parisienne', cursive;
}



