@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

body {
    background-color: #F8F8F8;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Début du css sur le nav.html */

nav {
    display: flex;
    flex-direction: row;
    background-color: #cd853f;
    font-family: 'Montserrat', sans-serif;
}

.flexx {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

#barreRecherche {
    padding:15px;
  }

#logoNav {
    text-decoration: none;
}

.pofinementR {
    display: flex;
    border: 1px solid rgb(0,0,0);
}

.loupe {
    background-color: white;
    padding: 15px;
}

.orestologo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* fin du css sur le nav.html */

/* début du css sur le footer.html */
footer{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: grey;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 200%;
}

.con{
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: rgb(53, 49, 49);
    padding: 3px;
    margin-top: 10px;
}

.contact{
    font-size: larger;
    margin: auto;
    color: #a7a7a7;
    text-decoration: none;
    transition-duration: 0.5s;
}

.madeby{
    font-size: small;
    color: rgb(53, 49, 49);
}

.media-list{
    padding-inline-start: 0px;
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.media-list li{
    padding: 0 20px 0 20px;
    height: 30px;
}

/* fin du css sur le footer.html */

/* début du css sur le accueil.html */
.contenu_ac{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-f9kpcIhyfvc%2FU6Gb9FjtflI%2FAAAAAAAAA3M%2Fq16vMv_Rspk%2Fs1600%2FGood%2BRestaurant%2BInteriors.jpg&f=1&nofb=1");
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 170px;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contenu_ac h1{
    color: aliceblue;
    font-size: 500%;
    margin-left: 25%;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}

.desc{
    color: #cccccc;
    width: 500px;
    height: 330px;
    line-height: 150%;
    font-size: large;
    margin-right: 25%;
    margin-left: auto;
    background-color: rgba(119, 119, 119, 0.2);
    border-radius: 1rem;
    padding: 3%;
    backdrop-filter: blur(10px);
    
}

/* fin du css sur le accueil.html */