{% extends 'base.html' %}

{% block contenu %}
    <!-- Met le contenu de la page d'accueil ici -->
<div class="contenu_ac">
    <h1>Bienvenue</h1>
    <div class="desc">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
</div>
<div class="values_glob">
    <h1>Nos Valeurs</h1>
    <div class="back">
        <div class="valeurs_desc">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eu ipsum sed erat cursus ornare. Nullam sed rhoncus metus, a feugiat mi. Sed consequat libero venenatis nibh aliquet mollis. Integer tempor metus eu tortor scelerisque interdum. Aenean in tristique enim. Vivamus volutpat purus consequat arcu tincidunt iaculis. Duis non arcu pellentesque, dapibus sapien vitae, gravida augue. Aenean sit amet tincidunt elit. Integer consequat velit arcu. Pellentesque a posuere lorem. Fusce a posuere mauris, ut luctus velit. Pellentesque pretium leo leo, eleifend feugiat arcu condimentum eget. Quisque dictum turpis eu porttitor finibus. Curabitur vulputate congue justo eu lobortis.</div>
    </div>
</div>
{% endblock %}