<div class="con">
    <a class="contact" href="">Contact us</a>
</div>
<ul class="media-list">
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_152340.png&f=1&nofb=1" alt="" width="40" height="40" ></a></li>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_56684.png&f=1&nofb=1" alt="" width="40" height="40"></a></li>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffreepngimg.com%2Fthumb%2Flogo%2F69713-instagram-business-calgary-logo-tower-white-icon.png&f=1&nofb=1" alt="" width="40" height="40"></a></li>
    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_44605.png&f=1&nofb=1" alt="" width="40" height="40"></a></li>
</ul>
<div class="madeby">
    Site créé en collaboration par Cousin et Aplo
</div>