<!-- Met ici directement le html de la navbar 
(rappel: ce code se rapport a 'include 'nav.html'' dans 'base.html' 
c'est donc comme si tu étais dans la section <nav> Ici </nav>)-->
    <ul class="flexx">
        <li id="iconemenu"><a href="">&#9776;</a></li>
            <!-- bouton pour la recherche -->
            <div class="pofinementR">
                <a href="" class="loupe"><img src="https://cdn-icons-png.flaticon.com/512/73/73357.png" alt="clickrehcercher" height="19" width="19"></a>
            <input id="barreRecherche" type="text"
                name="search" placeholder="Rechercher">
            </div>
    <div class="orestologo"> 
        <li id="logoNav"><a href=""><img src="https://e7.pngegg.com/pngimages/567/535/png-clipart-letter-case-o-cyrillic-script-opera-culture-logo-monochrome.png" height ="30" alt="logo"></a></li>
        <li id="orestoNav"><a href="">O'resto</a></li>
    </div>
    </ul>