<!-- Met ici directement le html de la navbar 
(rappel: ce code se rapport a 'include 'nav.html'' dans 'base.html' 
c'est donc comme si tu étais dans la section <nav> Ici </nav>)-->
<div>
    <ul>
        <li id="iconemenu"><span>&#9776;</span></li>
        <li id="recherchebarre">
            <!-- bouton pour la recherche -->
            <input id="barreRecherche" type="text"
                name="search" placeholder="Rechercher">
    <div>
        <li id="logoNav">Logo</li>
        <li id="orestoNav">O'resto</li>
    </div>
    </ul>
</div>