<!-- Met ici directement le html de la navbar
(rappel: ce code se rapport a 'include 'nav.html'' dans 'base.html' 
c'est donc comme si tu étais dans la section <nav> Ici </nav>)-->
<div class="iconemenu">
    <a href="">&#9776;</a>
</div>

<div class="barreRecherche">
    <a href=""><img src="https://img2.freepng.fr/20180705/ueh/kisspng-magnifying-glass-drawing-clip-art-5b3de39b4b8a66.9120883515307826193094.jpg" height="15px"></a>
    <input type="text" name="name" placeholder="Rechercher">
</div>

<div class="logonom">
    
</div>